# Allow thirdeye-ci bot to update pom.xml without restrictions
/thirdeye-ui/pom.xml

# For any change in the UI project configuration
/thirdeye-ui/ @startreedata/platform-ui @startreedata/thirdeye-ui

# For any change in the UI project
/thirdeye-ui/src/ @startreedata/thirdeye-ui
