Dockerfile
*.md
thirdeye-ui/
**/target/
# tests are not run
**/src/test
examples
.idea
.github
doc
tmp

# distribution can be built outside of docker - it will be picked if it is available
!thirdeye-distribution/target
# dependency of thirdeye-integration-tests - cannot be ignored
!thirdeye-persistence/src/test
