.idea/
target
tmp
.project
.classpath
venv/
.settings/
test-output/
*.iml
*.ipr
*.iws
*.log
*.swp
docs/_build
examples/pageviews/segments/
examples/batch/
.DS_Store

*.db

# Created by maven-release-plugin
pom.xml.releaseBackup
dependency-reduced-pom.xml
release.properties

# hsqldb in-memory temp files
**/mem.lck
**/mem.properties
**/mem.script

# helm cached charts
kubernetes/helm/charts
