.idea
target
tmp
.project
.classpath
venv/
.settings/
test-output/
*.iml
*.ipr
*.iws
*.log
*.swp
docs/_build

.DS_Store

*.db

# Created by maven-release-plugin
pom.xml.releaseBackup
dependency-reduced-pom.xml
release.properties
