# Default values for ThirdEye Deployment

image:
  tag: latest
  pullPolicy: Always
  pullSecretsName: startree

ui:
  image:
    tag: latest
    pullPolicy: Always
    pullSecretsName: startree
  enabled: true
  name: ui
  port: 8081
  publicUrl: http://localhost:8081
  serviceType: LoadBalancer
  resolver: kube-dns.kube-system.svc.cluster.local

  resources: {}
  nodeSelector: {}
  tolerations: []
  affinity: {}
  podAnnotations: {}

coordinator:
  enabled: true
  name: coordinator
  replicaCount: 1
  port: 8080
  tlsPort: 8443
  serviceType: LoadBalancer

  resources: {}
  nodeSelector: {}
  tolerations: []
  affinity: {}
  podAnnotations:
    prometheus.io/path: "/admin/prometheus"
#  tlsSecretName: tls-secret-name

scheduler:
  enabled: true
  name: scheduler
  port: 8082
  serviceType: ClusterIP

  resources: {}
  nodeSelector: {}
  tolerations: []
  affinity: {}
  podAnnotations:
    prometheus.io/path: "/admin/prometheus"
#  truststoreSecretName: truststore-name

worker:
  enabled: true
  name: worker
  port: 8083
  serviceType: ClusterIP

  resources: {}
  nodeSelector: {}
  tolerations: []
  affinity: {}
  podAnnotations:
    prometheus.io/path: "/admin/prometheus"
#  truststoreSecretName: truststore-name

persistence:
  enabled: true
  accessMode: ReadWriteOnce
  size: 4G
  storageClass: ""

smtp:
  host: localhost
  port: 65

tls:
  enabled: false
  password: changeit
  type: PKCS12

# Expose prometheus metrics.
prometheus:
  enabled: false

time:
  timezone: UTC

auth:
  enabled: false
  oauth:
#    serverUrl: <dex server url>
#    keysUrl: <keys url>
    required:
     - sub
     - exp
#    exactMatch:
#      iss: <issuer url>
#    cache:
#      size: 64
#      ttl: 60000

# Do not remove me.
config:
  description: placeholder for common configs accross coordinator and worker
  jdbcParameters: allowPublicKeyRetrieval=true&sslMode=DISABLED

# Section for dynamic secret generation
secrets:
  smtpUsername:
    env: SMTP_USER
    value: tobefedexternally
  smtpPassword:
    env: SMTP_PASSWORD
    value: tobefedexternally

# Optional: Enable for ingress
traefik:
  coordinator:
    enabled: false
  enabled: false

# Persistence layer configuration
mysql:
  imageTag: 8.0.28
  mysqlRootPassword: password
  mysqlUser: uthirdeye
  mysqlPassword: pass
  mysqlDatabase: thirdeye
