// Material UI fonts
@import "../assets/fonts/fonts.scss";
@import "codemirror/lib/codemirror.css";

// HTML body and app container to occupy entire height and width so that contained components can
// be vertically centered if required
html,
body,
#root {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
