# Dependencies
node_modules/

# Production
build/
dist/

# Maven
.mvn/
target/

# Docker
docker/
Dockerfile

# TypeScript
tsbuildinfo/

# Jest (ESLint rules don't agree with how these configs are written)
jest.config.js
src/test/unit/coverage/
src/test/unit/mocks/

# Cypress
src/test/e2e/downloads/

# webpack (ESLint rules don't agree with how these configs are written)
webpack.config.*.js
webpack/

scripts/verify-version-replacement.js
