# Node
node/

# Dependencies
node_modules/

# Production
build/
dist/

# Maven
target/

# TypeScript
tsbuildinfo/

# Jest (ESLint rules don't agree with how these configs are written)
jest.config.js
src/test/unit

# webpack (ESLint rules don't agree with how these configs are written)
webpack.config.dev.js
webpack.config.prod.js
