# GitHub
.github/

# Husky
.husky/

# VSCode
.vscode/

# Dependencies
node/
node_modules/

# Production
build/
dist/

# TypeScript
tsbuildinfo/

# Maven
.mvn/
target/

# Docker
docker/
Dockerfile

# Jest (ESLint rules don't agree with how these configs are written)
jest.config.js
src/test/unit/coverage/
src/test/unit/mocks/

# Cypress
src/test/e2e/downloads/
src/test/e2e/screenshots/
src/test/e2e/support/
src/test/e2e/videos/

# Semantic Release (ESLint rules don't agree with how these configs are written)
release.config.js

# webpack (ESLint rules don't agree with how these configs are written)
webpack.config.*.js
webpack/
