# Dependencies
node/
node_modules/

# Production
build/
dist/

# TypeScript
tsbuildinfo/

# Maven
target/

# Jest
src/test/unit/coverage/

# Cypress
src/test/e2e/downloads/
src/test/e2e/screenshots/
src/test/e2e/videos/

# webpack
webpack/

# OS
Thumbs.db
.DS_Store
._*
.Spotlight-V100
.Trashes
