# Dependencies
node
node_modules/

# Production
build/
dist/

# Maven
target/

# TypeScript
tsbuildinfo/

# Jest
src/test/unit/coverage/

# Cypress
src/test/e2e/downloads/
src/test/e2e/screenshots/
src/test/e2e/videos/

# webpack
webpack/

# macOS
.DS_Store
