# Husky (Prettier has trouble parsing files without extension)
.husky/pre-commit

# Dependencies
node/
node_modules/

# Production
build/
dist/

# TypeScript
tsbuildinfo/

# Maven
target/

# Docker (Prettier has trouble parsing Docker files)
docker/
Dockerfile

# Assets
*.svg
*.png
*.ico
*.ttf

# Ignore files (Prettier has trouble parsing files without extension)
.dockerignore
.eslintignore
.gitignore
.licenseheaderignore
.prettierignore
.stylelintignore

# RC files (Prettier has trouble parsing files without extension)
.npmrc
.nvmrc

# License text (Prettier has trouble parsing files without extension)
LICENSE

# Jest
src/test/unit/coverage/

# Cypress
src/test/e2e/downloads/
src/test/e2e/screenshots/
src/test/e2e/videos/

# Semantic Release
CHANGELOG.md

# webpack
webpack/

# OS
Thumbs.db
.DS_Store
._*
.Spotlight-V100
.Trashes
