.tooltip {
    background: white;
    z-index: 100;
    border-radius: 8px;
    display: inline-block;
    padding: 16px;
    border: 1px solid #bdbdbd;
    opacity: 0;
}

.circle {
    fill: steelblue;
    z-index: 10;
}
