// Fonts referenced here will be extracted and placed into dist/fonts/font-name per webpack config
@font-face {
    font-family: Nunito;
    src: url("/src/assets/fonts/nunito/Nunito-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: Nunito;
    src: url("/src/assets/fonts/nunito/Nunito-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: Nunito;
    src: url("/src/assets/fonts/nunito/Nunito-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: Quattrocento Sans;
    src: url("/src/assets/fonts/quattrocentoSans/QuattrocentoSans-Regular.ttf")
        format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: Quattrocento Sans;
    src: url("/src/assets/fonts/quattrocentoSans/QuattrocentoSans-Bold.ttf")
        format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: Roboto Slab;
    src: url("/src/assets/fonts/robotoSlab/RobotoSlab-Light.ttf")
        format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: Roboto Slab;
    src: url("/src/assets/fonts/robotoSlab/RobotoSlab-Regular.ttf")
        format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: Roboto Slab;
    src: url("/src/assets/fonts/robotoSlab/RobotoSlab-Bold.ttf")
        format("truetype");
    font-style: normal;
    font-weight: 700;
}
