name: License header check

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  header-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'adopt'
      # don't use setup-java cache - hash file pattern has issues
      - name: Cache local Maven repository
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: license-${{ runner.os }}-maven-${{ hashFiles('**/pom.xml', 'LICENSE', 'HEADER') }}
      - name: check
        run: ./mvnw -T 1C -B clean license:check
